* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  background: #3a3a3a;
}

.contador {
  display: grid;
  place-content: center;
  margin: 50px auto;
  width: 200px;
  height: 360px;
  border: 5px solid #fff;
  border-radius: 12px;
  font-size: 80px;
  color: #fff;
  box-shadow: 0 4px 10px 0px #ffffff;

  animation: neon 18s infinite linear;
}

@keyframes neon {
  from {
    box-shadow: 0 4px 10px 0px #ffffff;
    border: 5px solid #fff;
  }

  20% {
    box-shadow: 0 4px 10px 0px #d51e1e;
    border: 5px solid #d51e1e;
  }

  40% {
    box-shadow: 0 4px 10px 0px #5ec917;
    border: 5px solid #5ec917;
  }

  60% {
    box-shadow: 0 4px 10px 0px #38b6dc;
    border: 5px solid #38b6dc;
  }

  80% {
    box-shadow: 0 4px 10px 0px #ae1fbd;
    border: 5px solid #ae1fbd;
  }

  to {
    box-shadow: 0 4px 10px 0px #ffffff;
    border: 5px solid #fff;
  }
}

.boton{
  display: grid;
  place-content: center;
  width: 200px;
  height: 50px;
  font-size: 20px;
  border-radius: 12px;
  margin: 50px auto;
  color: #fff;
  box-shadow: 0 6px 10px 0 rgb(255, 255, 255, 0.4);
  cursor: pointer;
  transition: scale .2s;
}

.boton:active{
  scale: .98;
}